@model BeerPongTracker.Website.Models.GameViewModel

<div class="three-player-table-container">
    @Html.Partial("Props/_ThreePlayerTable", Model.TableCupCoversViewModel)
    @if (Model.Controlling == false)
    {
        <div class="three-player-table-container__stats three-player-table-container__stats--p1">
            @Html.Partial("Stats/_TeamStats", Model.TeamStatsViewModels[1].WithAlignment("left"))
        </div>
        <div class="three-player-table-container__stats three-player-table-container__stats--p2">
            @Html.Partial("Stats/_TeamStats", Model.TeamStatsViewModels[2].WithAlignment("right"))
        </div>
        <div class="three-player-table-container__stats three-player-table-container__stats--p3">
            @Html.Partial("Stats/_TeamStats", Model.TeamStatsViewModels[3].WithAlignment("left"))
        </div>
    }
</div>