@model BeerPongTracker.Website.ViewBuilders.ViewBuilderResult

<span class="game-meta-info" style="display:none;" lus="@Model.ViewModel.LastUpdateSignature"></span>
@Html.Partial(Model.ViewPath, Model.ViewModel)