<div class="image-preloader" style="position:absolute;height:0px;width:0px;overflow:hidden;">
    <img class="three-player-table__table-graphic" src="~/Content/Images/3table.jpg" />
    <img class="four-player-table__table-graphic" src="~/Content/Images/4table.jpg" />
    <img class="four-player-table__table-graphic" src="~/Content/Images/loading.gif" />
</div>
