@model BeerPongTracker.Website.Models.TableCupCoversViewModel

<div class="entity four-player-table">
    <img class="four-player-table__table-graphic" src="~/Content/Images/4table.jpg" />
</div>
<div class="cup-cover-container cup-cover-container--four-player four-player-table__team1">
    @Html.Partial("Props/_CupCover", Model.TeamCupCovers[1])
</div>
<div class="cup-cover-container cup-cover-container--four-player four-player-table__team2">
    @Html.Partial("Props/_CupCover", Model.TeamCupCovers[2])
</div>
<div class="cup-cover-container cup-cover-container--four-player four-player-table__team3">
    @Html.Partial("Props/_CupCover", Model.TeamCupCovers[3])
</div>
<div class="cup-cover-container cup-cover-container--four-player four-player-table__team4">
    @Html.Partial("Props/_CupCover", Model.TeamCupCovers[4])
</div>