@model BeerPongTracker.Website.Models.TableCupCoversViewModel

<div class="entity three-player-table">
    @if (Model.Controlling == false)
    {
        <img class="three-player-table__table-graphic" src="~/Content/Images/3table.jpg" />
    }
</div>
<div class="cup-cover-container cup-cover-container--three-player three-player-table__team1">
    @Html.Partial("Props/_CupCover", Model.TeamCupCovers[1])
</div>
<div class="cup-cover-container cup-cover-container--three-player three-player-table__team2">
    @Html.Partial("Props/_CupCover", Model.TeamCupCovers[2])
</div>
<div class="cup-cover-container cup-cover-container--three-player three-player-table__team3">
    @Html.Partial("Props/_CupCover", Model.TeamCupCovers[3])
</div>