@model BeerPongTracker.Website.Models.TableCupCoversViewModel

<div class="entity-fluid two-player-table">
    <div class="two-player-table__left">
    </div>
    <div class="cup-cover-container two-player-table__left__cups">
        @Html.Partial("Props/_CupCover", Model.TeamCupCovers[1])
    </div>
    <div class="two-player-table__centre">
        <div class="two-player-table__centre__inner">
        </div>
    </div>
    <div class="two-player-table__right">
    </div>
    <div class="cup-cover-container two-player-table__right__cups">
        @Html.Partial("Props/_CupCover", Model.TeamCupCovers[2])
    </div>
    <div class="two-player-table__logo">
        <img class="two-player-table__logo__image" src="/Content/Images/BpfLogoLight.png" />
    </div>
</div>
