@model BeerPongTracker.Website.Models.AvatarViewModel

<div class="avatar team-info__facebox">
    <div class="team-info__facebox__margin" style="background-image: url('http://graph.facebook.com/@Model.FacebookId/picture?type=large')">
    </div>
</div>
