<div class="health team-info__health">
    <div class="team-info__health__container">
        <div class="team-info__health__container__remaining team-info__health__container__remaining--green" style="width:100%;">
        </div>
    </div>
</div>
