@model BeerPongTracker.Website.Models.HealthViewModel

<div class="health team-info__health">
    <div class="team-info__health__container">
        <div id="team-@Model.TeamId-health" class="team-info__health__container__remaining team-info__health__container__remaining--@(Model.HealthPercentage <= 25 ? "red" : "green")" style="width:@Model.HealthPercentage%;">
        </div>
    </div>
</div>
