@model BeerPongTracker.Website.Models.Screen1ViewModel

<div class="row">
    <h2>Names of competitors:</h2>
</div>
<div class="row">
    <div class="team-input--outer">
        @Html.Partial("_TeamInput")
    </div>
</div>
<div class="screen__spacer"></div>
<div class="row">
    <h2>Number of cups:</h2>
</div>
<div class="row">
    <div class="number-of-cups-selector-wrapper">
        <div class="number-of-cups-selector">
            <img class="number-of-cups-selector__img" src="~/Content/Images/number_of_cups.png" />
            <div cups="6" class="number-of-cups-selector__selection number-of-cups-selector__selection--6"></div>
            <div cups="10" class="number-of-cups-selector__selection--selected number-of-cups-selector__selection number-of-cups-selector__selection--10"></div>
            <div cups="15" class="number-of-cups-selector__selection number-of-cups-selector__selection--15"></div>
            <input type="hidden" class="number-of-cups-selector__hidden" value="10"/>
        </div>
    </div>
</div>
<div class="screen__spacer"></div>
<div class="row">
    <div class="button--large-center-wrapper">
        <div class="button button--large button--start-game">
            <span class="button__text">
                START
            </span>
        </div>
    </div>
</div>