@model BeerPongTracker.Website.Models.WinnerScreenViewModel

<div class="screen--fixed screen--fixed--outer orange-background">
    <div class="youtube-wrapper">
        @Html.Partial("Media/_YouTubeVideo", Model.YouTubeVideoModel)
    </div>
    <div class="screen--fixed screen--fixed--inner">
        <div class="name-plate-view-wrapper" style="display:none;">
            @Html.Partial("Props/_NamePlate", Model.NamePlateViewModel)
        </div>
    </div>
</div>
<div class="winner-photos-view" style="">
    @Html.Partial("Props/_WinnerPhotos", Model.WinnerPhotosViewModel)
</div>
<canvas id="confetti" width="1" height="1"></canvas>
@if (Model.Controlling)
{
    <div class="stop-music-button">
        <span class="stop-music-button__text">STOP MUSIC</span>
    </div>
}
