<div id="dialOfDoomContainer"></div>

<div class="dial-of-doom-input">
    <h2>Enter names:</h2>
    <br />
    <div class="dial-of-doom-names">
        @for (int i = 0; i < 10; i++)
        {
            <input type="text" class="dial-of-doom-entry dial-of-doom-entry--@i" /><br />
        }
        <div class="row">
            <div class="button--large-center-wrapper button--large-center-wrapper--watch-menu">
                <div class="button button--large button--dial-of-doom-show-wheel">
                    <span class="button__text">
                        Go
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

