@model BeerPongTracker.Website.Models.EntranceScreenViewModel

<div class="screen--fixed screen--entrance">
    <div class="youtube-wrapper">
        @Html.Partial("Media/_YouTubeVideo", Model.YouTubeVideoModel)
    </div>
    <div class="screen--entrance__name animated hide">
        @Model.Name
    </div>
    <div class="screen--entrance__picture" style="display:none;">
        @if (string.IsNullOrEmpty(Model.FacebookId) == false)
        {
            <img class="screen--entrance__picture__img" src="http://graph.facebook.com/@(Model.FacebookId)/picture?type=large" />
        }
    </div>
    <canvas id="confetti" width="1" height="1"></canvas>
</div>