@model BeerPongTracker.Website.Models.ScreenViewModel

<div class="screen screen--2">
    <div class="screen__window">
        @Html.Partial("_2", Model.Screen2ViewModel)
    </div>
</div>
<div class="hide screen screen--3">
</div>
