@model BeerPongTracker.Website.Models.TeamInputTextBoxViewModel

<div class="team-input__text-wrapper team-input__text--team-@Model.TeamId-player-@Model.PlayerId-wrapper">
    <input type="text" class="team-input__text team-input__text--team-@Model.TeamId-player-@Model.PlayerId" teamid="@Model.TeamId" playerid="@Model.PlayerId"/>
</div>
